*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited, a:active {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;

    @media screen and (max-width: 640px) {
        width: $mobile;
    }

    @media screen and (min-width: 641px) {
        width: $desktop;
    }
}

.flex {
    display: flex;
}