* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    height: 400px;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-size: 100%;
    padding: 24px 46px 15px 32px;
}

#contenedor {
    margin: 25vh auto;
    width: 588px;
    height: 226px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px 3px lightgray;
}

.cont-izq {
    width: 230px;
    height: 100%;
    float: left;
    background-image: url(images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cont-der {
    float: left;
    width: 358px;
}

.cont-der h1 {
    font-size: 16px;
    color: hsl(217, 19%, 35%);
}

.cont-der > p {
    color: hsl(214, 17%, 51%);
    margin: 0 46px 0 34px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.user-profile {
    margin-left: 34px;
    margin-top: 10px;
    display: flex;
}

.user {
    width: 250px; 
    display: flex;
}

.user img {
    width: 34px;
    border-radius: 100%;
}

.user-name > p {
    font-size: 10px;
    margin-left: 10px;
}

.user-name > p:not(:last-child) {
    margin-top: 3px;
    font-weight: bold;
}


#share {
    text-indent: -99999px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-position: center 40%;
    background-image: url(images/icon-share.svg);
    background-repeat: no-repeat;
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
}